<h1>Plusieurs exercices</h1>

<p>
	<%= link_to "Twitter", twitter_path, class: "btn btn-info" %>
	<%= link_to "Movies", movies_index_path, class: "btn btn-warning" %>
	<%= link_to "Cryptos", cryptos_index_path, class: "btn btn-danger" %>
</p>