<h1>Plusieurs exercices</h1>

<p>
	<%= link_to "Twitter", twitter_path, class: "btn btn-primary" %>
	<%= link_to "Movies", movies_index_path, class: "btn btn-primary" %>
	<%= link_to "Cryptos", cryptos_index_path, class: "btn btn-primary" %>
</p>